#registerContainer {
    padding: 0 20px;
}
#registerContainer div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

#registerContainer h2 {
    display: flex;
    font-family: 'Bungee';
    color: white;
    align-items: center;
    font-weight: 600;
    font-size: 24px;
    gap: 6px;
    }
    #registerContainer h2 b {
        font-family: 'Bungee';
        color: var(--expo-pink);
        }
    /* #registerContainer h2 img {
        height: 32px;
        margin-bottom: -6px;
        } */
#registerContainer h4 {
    font-weight: 300;
    font-size: 16px;
    width: 300px;
    }
#registerContainer #photo-container {
    display: flex;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border: 1px solid rgb(44, 120, 183);
    box-shadow: inset 0 0 0 1px rgb(44, 120, 183);
    overflow: hidden;
    }
    #photo-container img {
        width: 105%;
        border: none;
        }
#load-photo-button {
    /* color: rgb(255, 255, 255); */
    font-weight: 400;
    background-color: var(--expo-blue);
    }

    #registerContainer .inputs-div {
        width: 300px;
        display: flex;
        justify-content: space-between;
        }
        .inputs-div input, .inputs-div select {
            width: 145px;
            }

#register-buttons-container {
    display: flex;
    width: 300px;
    height: 40px;
    gap: 8px;
}
#backtologin {
    display: flex;
    width: calc(30% - 4px);
    background-color: var(--expo-blue);
    align-items: center;
    /* gap: 4px; */
}
    #backtologin img {
        width: 20px;
        transform: rotate(90deg);
        margin-left: -4px;
    }
#register-submit-button {
    position: relative;
    font-weight: 400;
    width: calc(70% - 4px);
    background-color: var(--expo-pink);
    z-index: 10;
    }
    .button-highlight::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 100px;
        background: linear-gradient(90deg, #03a9f4, #f441a5, #f441a5, #03a9f4);
        background-size: 400%;
        animation: scanButton 8s linear infinite;
        top: -5px;
        left: -5px;
        right: -5px;
        bottom: -5px;
        z-index: -2;
        filter: blur(20px);
    }
    .button-highlight::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: var(--expo-pink);
        top: 0;
        left: 0;
        border-radius: 100px;
        z-index: -1;
    }

