:root {
    --expo-blue: rgb(2, 175, 239);
    --expo-blue-t: rgb(2, 175, 239, .6);

    --expo-pink: rgb(243, 7, 127);
    --expo-pink-t: rgb(243, 7, 127, .3);

    --unt-blue: rgb(0, 32, 255);
    --footer: rgb(51, 51, 51, .7);
}

@keyframes scanButton {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


#scanButton:hover {
    box-shadow: none;
    }


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    background-color: var(--background-color);
    color: var(--text-color);
    }

input, select {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 40px;
    padding-left: 16px;
    color: white;
    border: none;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    -webkit-appearance: none;  /* Safari y Chrome */
    -moz-appearance: none;     /* Firefox */
    appearance: none;          
    }
    input::placeholder {
        color: rgba(255, 255, 255, 0.5);
        }
    select {
        padding-left: 12px;
        }
        input[type="number"] {
            -moz-appearance: textfield;  /* Firefox */
        }
        
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;  /* Chrome, Safari, Opera */
            margin: 0;
        }

input:focus {
    outline: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.362);
    }

button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 44px;
    color: white;
    border: none;
    border-radius: 100px;
    /* overflow: hidden; */
    }
    button:hover {
        mix-blend-mode:luminosity;
        }


button:hover {
    border: none;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.362);
    }

#app {
    position: relative;
    display: flex;
    width: 100vw;
    max-width: 100vw;

    /* max-width: 400px; */
    height: 100svh;
    max-height: 100svh;
    overflow: hidden;
}

.container {
    position: relative;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    gap: 16px;
    color: white;
    /* background-color: rgba(1, 1, 43, 0.823); */
    background-color: var(--background-color);
    overflow: hidden;
}

/* ERROR CONTAINER  //////////////////////////////////////////////////////////*/
#errorContainer {
    display: flex;
    align-items: center;
    padding: 0 20px;
    }
    #errorContainer h2 {
        text-align: center;
        }

/* HOME PAGE //////////////////////////////////////////////////////////////// */

#api-bkg {
    position: absolute;
    top: 0;
    left: 0;
    height: 120%;
    overflow: hidden;
    height: 100% !important;
    z-index: -100;
}

